.extra {
    background-color: #F5F5F2;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000;

    &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        &__info {
            display: flex;
            gap: 15px;

        }

        &__icon {
            display: flex;
            gap: 20px;
            cursor: pointer;

        }
    }
}