.hero {
    background-color: #f5f5f2;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__info {
        width: 516px;
    }

    &__info button {
        width: 171px;
        height: 30px;
        border-radius: 32px;
        background-color: #E7E8E3;
        border: none;
        margin-bottom: 20px;
        transition-duration: .4s;

        &:hover {
            background-color: #CF6F49;
            color: #fff;
        }
    }

    &__info h1 {
        font-weight: 400;
        font-size: 56px;
        line-height: 68px;
        margin-bottom: 20px;
    }

    &__info p {

        font-weight: 400;
        font-size: 20px;
        color: #65665C;
    }

    &__input {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 20px;
        position: relative;

    }
&__logo{
    position: absolute;
}
    &__input input {
        width: 310px;
        height: 48px;
        border-radius: 6px;
        border: 1px;
        padding: 10px;
        padding-left: 40px;
        font-size: 20px;
        max-width: 100%;

    }

    &__input button {
        margin-top: 20px;
        @include btn()
    }

    &__image image {
        height: 686px;
    }
}